body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

#footer {
    display: flex;
    /* position: relative; */
    background-color: #424B54;
    color: white;
    align-items: center;
    flex-direction: column;
}

#footer a {
    /* border: 1px solid white; */
    text-decoration: none;
    color: white;
    padding: 20px;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.foot-row {
    display: flex;
    flex-direction: row;
}
